# SQL Interview Questions  - Quiz

## Introduction

In this lesson, we'll go through a short quiz containing the types of questions about SQL and relational databases that you can expect to see in an interview. 



## SQL Interview Questions

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

what are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
TEXT, INTEGER, REAL, BLOB and NULL.   Yes, other types can be used.
_______________________________________________________________________________________________________________________________





## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:

in a relational database with multiple tables,  primary key is the index of current table, and foreign key is the column that the other table is connected with the current table. 

________________________________________
_______________________________________________________________________________________





## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line: Relationships can be one to one , one to many or many to many. example for one to one; a class and classpet table.  , one to many could be a customer table and  order table,  a customer can make multiple orders. Many to many,   a class and students for collage, students can enroll to multiple classes, and a class has multiple students. 
_______________________________________________________________________________________________________________________________


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line: There are, full , left , right, and inner.
Inner returns records that have matching values in both tables
Left feturns all records from the left table, and the matched records from the right table
Right returns all records from the left table, and the matched records from the right table
Full returns all records when there is a match in either left or right table
_______________________________________________________________________________________________________________________________

## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.


Type your answer below this line:

The GROUP BY statement is used to group the rows by the same value. Often times it is used with aggragate functions ( COUNT, MAX, MIN, SUM, AVG) to group the result set by one or more column. 





## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?
An associative entity is a table that  maps two or more tables together by referencing the primary keys of each data table. Its role is like a hub of all other tables to interact with each other.

Type your answer below this line:
_______________________________________________________________________________________________________________________________



## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.